*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    }

    nav{
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: space-around;
    }

    .logo h3{
        font-size: 25px;
    }

    .logo p{
        color: var(--title);
        font-size: 20px;
    }

    .logo{
        width: 35%;
        height: 100px;
        padding: 10px;
    }

    .toggle{
        width: 15%;
        height: 100px;
        padding: 10px;
        display: flex;
        justify-content: space-evenly;
        /* border: 1px solid red; */
    }

    .toggle p{
        font-size: 1.2rem;
        padding: 5px;
        color: var(--title);
    }

    .switch{
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
    }

    .switch input{
        opacity: 0;
        width: 0;
        height: 0;
    }

    .slider{
        position: absolute; 
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(to right, rgb(109, 216, 193), rgb(23, 97, 235));
        -webkit-transition: .4s;
        transition: .4s;
    }

    .slider::before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: var(--background-color);
        -webkit-transition: .4s;
        transition: .4s;
    }

    input:checked + .slider{
        background-color: rgb(109, 216, 193);
    }

    input:focus + .slider{
        box-shadow: 0 0 1px rgb(109, 216, 193);
    }
    
    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    .slider.round{
        border-radius: 34px;
    }

    .slider.round::before{
        border-radius: 50%;
    }

    :root{
        --background-color: white;
        --color: black;
        --title: rgb(92, 90, 90);
        --caret-up: rgb(21, 148, 74);
        --block: rgb(236, 243, 250);
        --palette: red;
    }

    .darkmode{
        --background-color: black;
        --color: white;
        --title: rgb(161, 188, 197);
        --block: rgba(2, 11, 29, 0.863);
    }

        body{
        background-color:var(--background-color);
        color: var(--color);
    } 


    section{
        width: 100%;
        height: 250px;
        display: flex;
        justify-content: center;
    }

    .first-card{
        width: 18%;
        height: 200px;
        background-color: var(--block);
        /* border: 1px solid red; */
        border-radius: 5px;
        text-align: center;
        overflow: hidden;
        margin: 10px;
    }

    .first-card:hover{
        background-color: rgba(24, 24, 24, 0.404);
    }

    .blue{
        width: 100%;
        height: 4px;
        background-color: blue;
    }

    .grid{
        width: 100%;
        height: 4px;
        background: linear-gradient(to right, red, orange);
    }

    .youtube{
        width: 100%;
        height: 4px;
        background: red;
    }

    .comment{
        padding: 10px 0;
        display: flex;
        justify-content: center;
        color: var(--title);
    }

    .text{
        font-size: 1.2rem;
    }

    .first-card h5{
        font-size: 3.8rem;
    }

    .first-card p{
        letter-spacing: 2px;
        color: var(--title);
    }

    .green{
        font-size: 1.1rem;
        font-weight: 600;
        color: var(--caret-up);
    }

    .tag{
        padding: 10px;
    }

    .red{
        font-size: 1.1rem;
        font-weight: 600;
        color: var(--palette);
    }

    .second-section{
        width: 100%;
        height: 400px;
    }

    .second-card{
        width: 19%;
        height: 110px;
        margin: 10px;
        background-color: var(--block);
        border-radius: 8px;
        /* border: 1px solid red; */
    }

    .second-card:hover{
        background-color: rgba(24, 24, 24, 0.404);
    }

    .second-section h4{
        font-size: 24px;
        padding: 5px 158px;
    }

    .second-style{
        width: 100%;
        height: 150px;
        display: flex;
        justify-content: center;
        padding: 5px 10px;
        /* border: 1px solid red; */
    }

    .third-style{
        width: 100%;
        height: 150px;
        display: flex;
        justify-content: center;
        padding: 5px 10px;
        /* border: 1px solid red; */
    }

    .page{
        /* width: 100%; */
        height: 40px;
        display: flex;
        justify-content: space-around;
        padding: 10px;
        /* border: 1px solid red; */
    }

    .page p{
        font-size: 1.1rem;
        font-weight: bold;
        color: var(--title);
    }

    .footpage{
        /* width: 100%; */
        height: 65px;
        display: flex;
        justify-content: space-around;
        /* margin: 10px; */
        /* border: 1px solid red; */
    }

    .footpage h3{
        font-size: 3rem;
        padding: 10px;
    }

    .img1{
        width: 20px;
        height: 20px;
    }

    .img2{
        width: 12px;
        height: 5px;
    }
    
    .count{
        color: var(--caret-up);
        padding-top: 40px;
        font-size: 12px;
        font-weight: bold;
    }

    .raid{
        font-size: 12px;
        font-weight: bold;
        color: var(--palette);
    }





    @media screen and (max-width: 400px) {
        nav{
            display: block;
            height: 140px;
        }

        .logo{
            width: 100%;
            height: 80px;
            padding: 12px;
        }
    
        .toggle{
            width: 100%;
            height: 60px;
            padding: 10px;
            justify-content: space-between;
            border-top: ridge;
        }

        section{
            height: 900px;
            flex-direction: column;
            align-items: center;
        }
    
        .first-card{
            width: 90%;
            height: 200px;
        }

        .second-section{
            width: 100%;
            height: 1100px;
        }

        .second-section h4{
            font-size: 27px;
            padding: 3px 15px;
        }
    

        .second-card{
            width: 90%;
            height: 120px;
            margin: 10px;
            background-color: var(--block);
        }

        .page{
            height: 40px;
            display: flex;
            justify-content: space-around;
            padding: 10px;
        }

        .footpage{
            height: 60px;
            display: flex;
            justify-content: space-around;
            margin: 5px;
        }

        .footpage h3{
            font-size: 2.5rem;
            padding: 10px;
        }

        .count{
            color: var(--caret-up);
            padding-top: 30px;
            font-size: 12px;
            font-weight: bold;
        }

        .second-style{
            width: 100%;
            height: 520px;
            flex-direction: column;
            align-items: center;
            padding: 5px 10px;
        }
    
        .third-style{
            width: 100%;
            height: 520px;
            flex-direction: column;
            align-items: center;
            padding: 5px 10px;
            /* border: 1px solid red; */
        }
    }